body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr auto;
    grid-template-areas: "header header header" "navigation navigation navigation" "body-1 body-1 body-2" "body-1 body-1 body-2" "body-3 body-3 body-3" "footer footer footer";
}

header {
    background-color: #3B253A;
    color: white;
    text-align: center;
    padding: 3em;
}

header > h1 {
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
}

header > a {
    color: white;
}

a,h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
}

/* Navigation */

nav ul, footer ul {
    font-size: 0;
    display: flex;
}

nav li, footer li {
    display: inline-block;
    flex: 1;
}

nav a, footer a {
    font-size: initial;
    display: block;
    line-height: 76px;
    background-color: hsl(303, 23%, 14%);
    color: white;
    text-align: center;
}

footer a {
    background-color: hsl(0, 0%, 70%);
    text-decoration: none;
}

footer a:hover {
    background-color: hsl(0, 0%, 65%);
    text-decoration: underline;
}

article {
    padding: 1.3em;
    color: black;    
    background-color: hsl(60, 18%, 90%);
}